body{
    /*background-color:#101010;*/
    text-align: center;
    background-color: #101010;

}
.ayush{
    padding-top: 2rem;
}
.greet{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;;
    color: white;
    font-weight: regular;
    padding-top: 8rem;
}
.social{
    display: flex;
    flex-wrap: wrap;
    
}
li{
    color: white;
    font-size: 2rem;
    display: flex;
    display: inline-block;
    padding: 2rem;
    padding-left: 0;
}
a{
    color: white;
    font-size: 3rem;
    text-decoration: none;

}
a:hover{
    color: #F46632;
}
.copy{
    color: white;
    padding-top: 6rem;
}
@media all and (max-width: 400px) {
    a{
        font-size: 2.25rem;
        width: 50%;
    
    }
    .copy{
        padding-top: 30px;
    }
    
}
